{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="static/style.css">
<link rel="stylesheet" href="static/about.css">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Despre noi</h1>
    <p class="tagline">Reabilitare de Acasă</p>
    <div class="content">
      <div class="text">
          <p>Salut! Sunt <a href="https://www.facebook.com/buga.vlad.1" class="btn">Vlad Buga</a>, absolvent a Facultății de Automatică și Calculatoare, pasiunea mea pentru sport
              m-a condus către crearea MedFit, o platformă inovatoare pentru reabilitare fizică.</p>
          <p>Din cauza practicării sportului fară destule cunostințe în trecut, am suferit o accidentare la genunchi.
              Pentru recuperare, trebuia să merg de câteva
              ori pe săptămână la diverse sesiuni de reabilitare, ceea ce nu era fezabil în programul meu aglomerat.</p>
          <p>Astfel, mi-am propus să dezvolt o soluție mai convenabilă. MedFit permite efectuarea exercițiilor de
              recuperare acasă, cu un sistem de verificare a corectitudinii executării. Ai acces la un terapeut
              profesionist care îți creează un plan personalizat.</p>
          <p>Apreciez că ai ales <a href="{{ url_for('main') }}" class="btn">MedFit</a> și îți doresc o experiență plăcută și de succes în procesul tău de recuperare!</p>
      </div>
      <div class="image">
        <img src="static/images/about.png" alt="Image">
      </div>
    </div>
  </div>
{% endblock %}