{% extends "base.html" %}

{% block style %}
  <link rel="stylesheet" href="../static/style.css">
<!--  <link rel="stylesheet" href="../static/signup.css">-->
  <link rel="stylesheet" href="../static/add_exercise.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../static/add_ex.js"></script>
{% endblock %}

{% block content %}
<h2 class="title">Editare Exercițiu</h2>
<div class="form-container">
  <form method="post">
    <div class="general-info">
      <div class="form-group">
        <label for="exercise_name">Nume Exercitiu</label>
        <input type="text" name="exercise_name" id="exercise_name" value="{{exercise_dict.name}}" required>
      </div>
      <div class="form-group">
        <label for="exercise-description">Descriere Exercitiu</label>
        <textarea name="exercise-description" id="exercise-description" rows="4" required>{{exercise_dict.description}}</textarea>
      </div>
        <div class="radio-group" style="margin-bottom: 10px;">
        <span> Categoria: </span>
            <select name = "categ" id = "category">
                <option value="hands" > Mâini </option>
                <option value="shoulders" > Umeri </option>
                <option value="hips" > Șold </option>
                <option value="feet" > Picioare </option>
            </select>

        </div>
      <div class="angle">
        <label for="reps">Nr de repetări</label>
        <input type="text" name="rep" id="reps" required value="{{exercise_dict.max_reps}}" >
      </div>
      <div class="angle">
        <label for="permissive-error">Eroarea admisa exercițiu</label>
        <input type="text" name="permissive-error" id="permissive-error" required value="{{steps_list[0].permissive_error}}">
      </div>
      <div class="form-group">
        <label>Imagine Exercitiu</label>
        <div class="file-upload">
          <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>

          <div class="image-upload-wrap">
            <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
            <div class="drag-text">
              <h4 style="font-weight: lighter;">Drag and drop a file or select add Image</h4>
            </div>
          </div>
          <div class="file-upload-content">
            <img class="file-upload-image" src="#" alt="your image" />
            <div class="image-title-wrap">
              <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="step">
      <p class="step">Pasul 1</p>
      <div class="form-group">
        <label for="step1-description">Descriere Pas</label>
        <textarea name="step_description_1" id="step1-description" rows="4" required>{{steps_list[0].description}}</textarea>
      </div>
      <div class="form-group">
        <label>Imagine Pas</label>
        <div class="file-upload">
          <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>

          <div class="image-upload-wrap">
            <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
            <div class="drag-text">
              <h4 style="font-weight: lighter;">Drag and drop a file or select add Image</h4>
            </div>
          </div>
          <div class="file-upload-content">
            <img class="file-upload-image" src="#" alt="your image" />
            <div class="image-title-wrap">
              <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
            </div>
          </div>
        </div>
      </div>
      <div class="body-parts">


    {% set remaining_angles = [
      {'name': 'RIGHT_ELBOW', 'label': 'Cot drept'},
      {'name': 'LEFT_ELBOW', 'label': 'Cot stâng'},
      {'name': 'RIGHT_SHOULDER', 'label': 'Umăr drept'},
      {'name': 'LEFT_SHOULDER', 'label': 'Umăr stâng'},
      {'name': 'RIGHT_HIP', 'label': 'Șold drept'},
      {'name': 'LEFT_HIP', 'label': 'Șold stâng'},
      {'name': 'RIGHT_KNEE', 'label': 'Genunchi drept'},
      {'name': 'LEFT_KNEE', 'label': 'Genunchi stâng'}
    ] %}

{% for step in steps_list %}
  {% if step.step_number == 1 and 'body_part_angles' in step %}
    {% set rendered_angles = [] %}
    {% for angle in step.body_part_angles %}

      {% if angle.bd_name == 'RIGHT_ELBOW' and angle.bd_name not in rendered_angles %}
        <div class="angle">
          <label for="re">Cot drept:</label>
          <input type="text" name="RIGHT_ELBOW_1" value="{{ angle.angle }}">
        </div>
        {% for remaining_angle in remaining_angles %}
        {% if remaining_angle.name == 'RIGHT_ELBOW' %}
          {% set _ = remaining_angles.remove(remaining_angle) %}
        {% endif %}
      {% endfor %}
      {% endif %}

      {% if angle.bd_name == 'LEFT_ELBOW' and angle.bd_name not in rendered_angles %}
        <div class="angle">
          <label for="le">Cot stâng:</label>
          <input type="text" name="LEFT_ELBOW_1" value="{{ angle.angle }}">
        </div>
        {% for remaining_angle in remaining_angles %}
        {% if remaining_angle.name == 'LEFT_ELBOW' %}
          {% set _ = remaining_angles.remove(remaining_angle) %}
        {% endif %}
      {% endfor %}
      {% endif %}

      {% if angle.bd_name == 'RIGHT_SHOULDER' and angle.bd_name not in rendered_angles %}
        <div class="angle">
          <label for="rs">Umăr drept:</label>
          <input type="text" name="RIGHT_SHOULDER_1" value="{{ angle.angle }}">
        </div>
        {% for remaining_angle in remaining_angles %}
        {% if remaining_angle.name == 'RIGHT_SHOULDER' %}
          {% set _ = remaining_angles.remove(remaining_angle) %}
        {% endif %}
      {% endfor %}
      {% endif %}

      {% if angle.bd_name == 'LEFT_SHOULDER' and angle.bd_name not in rendered_angles %}
        <div class="angle">
          <label for="ls">Umăr stâng:</label>
          <input type="text" name="LEFT_SHOULDER_1" value="{{ angle.angle }}">
        </div>
        {% for remaining_angle in remaining_angles %}
        {% if remaining_angle.name == 'LEFT_SHOULDER' %}
          {% set _ = remaining_angles.remove(remaining_angle) %}
        {% endif %}
      {% endfor %}
      {% endif %}

      {% if angle.bd_name == 'RIGHT_HIP' and angle.bd_name not in rendered_angles %}
        <div class="angle">
          <label for="rh">Șold drept:</label>
          <input type="text" name="RIGHT_HIP_1" value="{{ angle.angle }}">
        </div>
        {% for remaining_angle in remaining_angles %}
        {% if remaining_angle.name == 'RIGHT_HIP' %}
          {% set _ = remaining_angles.remove(remaining_angle) %}
        {% endif %}
      {% endfor %}
      {% endif %}

      {% if angle.bd_name == 'LEFT_HIP' and angle.bd_name not in rendered_angles %}
        <div class="angle">
          <label for="lh">Șold stâng:</label>
          <input type="text" name="LEFT_HIP_1" value="{{ angle.angle }}">
        </div>
        {% for remaining_angle in remaining_angles %}
        {% if remaining_angle.name == 'LEFT_HIP' %}
          {% set _ = remaining_angles.remove(remaining_angle) %}
        {% endif %}
      {% endfor %}
      {% endif %}

      {% if angle.bd_name == 'RIGHT_KNEE' and angle.bd_name not in rendered_angles %}
        <div class="angle">
          <label for="rk">Genunchi drept:</label>
          <input type="text" name="RIGHT_KNEE_1" value="{{ angle.angle }}">
        </div>
        {% for remaining_angle in remaining_angles %}
        {% if remaining_angle.name == 'RIGHT_KNEE' %}
          {% set _ = remaining_angles.remove(remaining_angle) %}
        {% endif %}
      {% endfor %}
      {% endif %}

      {% if angle.bd_name == 'LEFT_KNEE' and angle.bd_name not in rendered_angles %}
        <div class="angle">
          <label for="lk">Genunchi stâng:</label>
          <input type="text" name="LEFT_KNEE_1" value="{{ angle.angle }}">
        </div>
        {% for remaining_angle in remaining_angles %}
        {% if remaining_angle.name == 'LEFT_KNEE' %}
          {% set _ = remaining_angles.remove(remaining_angle) %}
        {% endif %}
      {% endfor %}
      {% endif %}
    {% endfor %}

    {% for angle_name in remaining_angles %}
      {% if angle_name not in rendered_angles %}
        <div class="angle">
          <label for="{{ angle_name.name|lower }}">{{angle_name.label}}:</label>
          <input type="text" name="{{ angle_name.name }}_1">
        </div>
      {% endif %}
    {% endfor %}

  {% endif %}
{% endfor %}


      </div>
    </div>

    <div class="step">
      <p class="step">Pasul 2</p>
      <div class="form-group">
        <label for="step2-description">Descriere Pas</label>
        <textarea name="step_description_2" id="step2-description" rows="4" required>{{steps_list[1].description}}</textarea>
      </div>
      <div class="form-group">
        <label>Imagine Pas</label>
        <div class="file-upload">
          <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>

          <div class="image-upload-wrap">
            <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
            <div class="drag-text">
              <h4 style="font-weight: lighter;">Drag and drop a file or select add Image</h4>
            </div>
          </div>
          <div class="file-upload-content">
            <img class="file-upload-image" src="#" alt="your image" />
            <div class="image-title-wrap">
              <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
            </div>
          </div>
        </div>
      </div>
      {% set remaining_angles2 = [
      {'name': 'RIGHT_ELBOW', 'label': 'Cot drept'},
      {'name': 'LEFT_ELBOW', 'label': 'Cot stâng'},
      {'name': 'RIGHT_SHOULDER', 'label': 'Umăr drept'},
      {'name': 'LEFT_SHOULDER', 'label': 'Umăr stâng'},
      {'name': 'RIGHT_HIP', 'label': 'Șold drept'},
      {'name': 'LEFT_HIP', 'label': 'Șold stâng'},
      {'name': 'RIGHT_KNEE', 'label': 'Genunchi drept'},
      {'name': 'LEFT_KNEE', 'label': 'Genunchi stâng'}
    ] %}

{% for step in steps_list %}
  {% if step.step_number == 2 and 'body_part_angles' in step %}
    {% set rendered_angles = [] %}
    {% for angle in step.body_part_angles %}

      {% if angle.bd_name == 'RIGHT_ELBOW' and angle.bd_name not in rendered_angles %}
        <div class="angle">
          <label for="re">Cot drept:</label>
          <input type="text" name="RIGHT_ELBOW_2" value="{{ angle.angle }}">
        </div>
        {% for remaining_angle in remaining_angles2 %}
        {% if remaining_angle.name == 'RIGHT_ELBOW' %}
          {% set _ = remaining_angles2.remove(remaining_angle) %}
        {% endif %}
      {% endfor %}
      {% endif %}

      {% if angle.bd_name == 'LEFT_ELBOW' and angle.bd_name not in rendered_angles %}
        <div class="angle">
          <label for="le">Cot stâng:</label>
          <input type="text" name="LEFT_ELBOW_2" value="{{ angle.angle }}">
        </div>
        {% for remaining_angle in remaining_angles2 %}
        {% if remaining_angle.name == 'LEFT_ELBOW' %}
          {% set _ = remaining_angles2.remove(remaining_angle) %}
        {% endif %}
      {% endfor %}
      {% endif %}

      {% if angle.bd_name == 'RIGHT_SHOULDER' and angle.bd_name not in rendered_angles %}
        <div class="angle">
          <label for="rs">Umăr drept:</label>
          <input type="text" name="RIGHT_SHOULDER_2" value="{{ angle.angle }}">
        </div>
        {% for remaining_angle in remaining_angles2 %}
        {% if remaining_angle.name == 'RIGHT_SHOULDER' %}
          {% set _ = remaining_angles2.remove(remaining_angle) %}
        {% endif %}
      {% endfor %}
      {% endif %}

      {% if angle.bd_name == 'LEFT_SHOULDER' and angle.bd_name not in rendered_angles %}
        <div class="angle">
          <label for="ls">Umăr stâng:</label>
          <input type="text" name="LEFT_SHOULDER_2" value="{{ angle.angle }}">
        </div>
        {% for remaining_angle in remaining_angles2 %}
        {% if remaining_angle.name == 'LEFT_SHOULDER' %}
          {% set _ = remaining_angles2.remove(remaining_angle) %}
        {% endif %}
      {% endfor %}
      {% endif %}

      {% if angle.bd_name == 'RIGHT_HIP' and angle.bd_name not in rendered_angles %}
        <div class="angle">
          <label for="rh">Șold drept:</label>
          <input type="text" name="RIGHT_HIP_2" value="{{ angle.angle }}">
        </div>
        {% for remaining_angle in remaining_angles2 %}
        {% if remaining_angle.name == 'RIGHT_HIP' %}
          {% set _ = remaining_angles2.remove(remaining_angle) %}
        {% endif %}
      {% endfor %}
      {% endif %}

      {% if angle.bd_name == 'LEFT_HIP' and angle.bd_name not in rendered_angles %}
        <div class="angle">
          <label for="lh">Șold stâng:</label>
          <input type="text" name="LEFT_HIP_2" value="{{ angle.angle }}">
        </div>
        {% for remaining_angle in remaining_angles2 %}
        {% if remaining_angle.name == 'LEFT_HIP' %}
          {% set _ = remaining_angles2.remove(remaining_angle) %}
        {% endif %}
      {% endfor %}
      {% endif %}

      {% if angle.bd_name == 'RIGHT_KNEE' and angle.bd_name not in rendered_angles %}
        <div class="angle">
          <label for="rk">Genunchi drept:</label>
          <input type="text" name="RIGHT_KNEE_2" value="{{ angle.angle }}">
        </div>
        {% for remaining_angle in remaining_angles2 %}
        {% if remaining_angle.name == 'RIGHT_KNEE' %}
          {% set _ = remaining_angles2.remove(remaining_angle) %}
        {% endif %}
      {% endfor %}
      {% endif %}

      {% if angle.bd_name == 'LEFT_KNEE' and angle.bd_name not in rendered_angles %}
        <div class="angle">
          <label for="lk">Genunchi stâng:</label>
          <input type="text" name="LEFT_KNEE_2" value="{{ angle.angle }}">
        </div>
        {% for remaining_angle in remaining_angles2 %}
        {% if remaining_angle.name == 'LEFT_KNEE' %}
          {% set _ = remaining_angles2.remove(remaining_angle) %}
        {% endif %}
      {% endfor %}
      {% endif %}
    {% endfor %}

    {% for angle_name in remaining_angles2 %}
      {% if angle_name not in rendered_angles %}
        <div class="angle">
          <label for="{{ angle_name.name|lower }}">{{angle_name.label}}:</label>
          <input type="text" name="{{ angle_name.name }}_2">
        </div>
      {% endif %}
    {% endfor %}

  {% endif %}
{% endfor %}

    </div>

    <div class="step">
      <p class="step">Pasul 3</p>
      <div class="form-group">
        <label for="step3-description">Descriere Pas</label>
        <textarea name="step_description_3" id="step3-description" rows="4" required>{{steps_list[2].description}}</textarea>
      </div>
      <div class="form-group">
        <label>Imagine Pas</label>
        <div class="file-upload">
          <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>

          <div class="image-upload-wrap">
            <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
            <div class="drag-text">
              <h4 style="font-weight: lighter;">Drag and drop a file or select add Image</h4>
            </div>
          </div>
          <div class="file-upload-content">
            <img class="file-upload-image" src="#" alt="your image" />
            <div class="image-title-wrap">
              <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
            </div>
          </div>
        </div>
      </div>
        {% set remaining_angles3 = [
      {'name': 'RIGHT_ELBOW', 'label': 'Cot drept'},
      {'name': 'LEFT_ELBOW', 'label': 'Cot stâng'},
      {'name': 'RIGHT_SHOULDER', 'label': 'Umăr drept'},
      {'name': 'LEFT_SHOULDER', 'label': 'Umăr stâng'},
      {'name': 'RIGHT_HIP', 'label': 'Șold drept'},
      {'name': 'LEFT_HIP', 'label': 'Șold stâng'},
      {'name': 'RIGHT_KNEE', 'label': 'Genunchi drept'},
      {'name': 'LEFT_KNEE', 'label': 'Genunchi stâng'}
    ] %}

{% for step in steps_list %}
  {% if step.step_number == 3 and 'body_part_angles' in step %}
    {% set rendered_angles = [] %}
    {% for angle in step.body_part_angles %}

      {% if angle.bd_name == 'RIGHT_ELBOW' and angle.bd_name not in rendered_angles %}
        <div class="angle">
          <label for="re">Cot drept:</label>
          <input type="text" name="RIGHT_ELBOW_3" value="{{ angle.angle }}">
        </div>
        {% for remaining_angle in remaining_angles3 %}
        {% if remaining_angle.name == 'RIGHT_ELBOW' %}
          {% set _ = remaining_angles3.remove(remaining_angle) %}
        {% endif %}
      {% endfor %}
      {% endif %}

      {% if angle.bd_name == 'LEFT_ELBOW' and angle.bd_name not in rendered_angles %}
        <div class="angle">
          <label for="le">Cot stâng:</label>
          <input type="text" name="LEFT_ELBOW_3" value="{{ angle.angle }}">
        </div>
        {% for remaining_angle in remaining_angles3 %}
        {% if remaining_angle.name == 'LEFT_ELBOW' %}
          {% set _ = remaining_angles3.remove(remaining_angle) %}
        {% endif %}
      {% endfor %}
      {% endif %}

      {% if angle.bd_name == 'RIGHT_SHOULDER' and angle.bd_name not in rendered_angles %}
        <div class="angle">
          <label for="rs">Umăr drept:</label>
          <input type="text" name="RIGHT_SHOULDER_3" value="{{ angle.angle }}">
        </div>
        {% for remaining_angle in remaining_angles3 %}
        {% if remaining_angle.name == 'RIGHT_SHOULDER' %}
          {% set _ = remaining_angles3.remove(remaining_angle) %}
        {% endif %}
      {% endfor %}
      {% endif %}

      {% if angle.bd_name == 'LEFT_SHOULDER' and angle.bd_name not in rendered_angles %}
        <div class="angle">
          <label for="ls">Umăr stâng:</label>
          <input type="text" name="LEFT_SHOULDER_3" value="{{ angle.angle }}">
        </div>
        {% for remaining_angle in remaining_angles3 %}
        {% if remaining_angle.name == 'LEFT_SHOULDER' %}
          {% set _ = remaining_angles3.remove(remaining_angle) %}
        {% endif %}
      {% endfor %}
      {% endif %}

      {% if angle.bd_name == 'RIGHT_HIP' and angle.bd_name not in rendered_angles %}
        <div class="angle">
          <label for="rh">Șold drept:</label>
          <input type="text" name="RIGHT_HIP_3" value="{{ angle.angle }}">
        </div>
        {% for remaining_angle in remaining_angles3 %}
        {% if remaining_angle.name == 'RIGHT_HIP' %}
          {% set _ = remaining_angles3.remove(remaining_angle) %}
        {% endif %}
      {% endfor %}
      {% endif %}

      {% if angle.bd_name == 'LEFT_HIP' and angle.bd_name not in rendered_angles %}
        <div class="angle">
          <label for="lh">Șold stâng:</label>
          <input type="text" name="LEFT_HIP_3" value="{{ angle.angle }}">
        </div>
        {% for remaining_angle in remaining_angles3 %}
        {% if remaining_angle.name == 'LEFT_HIP' %}
          {% set _ = remaining_angles3.remove(remaining_angle) %}
        {% endif %}
      {% endfor %}
      {% endif %}

      {% if angle.bd_name == 'RIGHT_KNEE' and angle.bd_name not in rendered_angles %}
        <div class="angle">
          <label for="rk">Genunchi drept:</label>
          <input type="text" name="RIGHT_KNEE_3" value="{{ angle.angle }}">
        </div>
        {% for remaining_angle in remaining_angles3 %}
        {% if remaining_angle.name == 'RIGHT_KNEE' %}
          {% set _ = remaining_angles3.remove(remaining_angle) %}
        {% endif %}
      {% endfor %}
      {% endif %}

      {% if angle.bd_name == 'LEFT_KNEE' and angle.bd_name not in rendered_angles %}
        <div class="angle">
          <label for="lk">Genunchi stâng:</label>
          <input type="text" name="LEFT_KNEE_3" value="{{ angle.angle }}">
        </div>
        {% for remaining_angle in remaining_angles3 %}
        {% if remaining_angle.name == 'LEFT_KNEE' %}
          {% set _ = remaining_angles3.remove(remaining_angle) %}
        {% endif %}
      {% endfor %}
      {% endif %}
    {% endfor %}

    {% for angle_name in remaining_angles3 %}
      {% if angle_name not in rendered_angles %}
        <div class="angle">
          <label for="{{ angle_name.name|lower }}">{{angle_name.label}}:</label>
          <input type="text" name="{{ angle_name.name }}_3">
        </div>
      {% endif %}
    {% endfor %}

  {% endif %}
{% endfor %}


    </div>
    <button type="submit" class="submit-button">Submit</button>
  </form>
</div>

<script>
    // Get the select element
    var selectElement = document.getElementById('category');

    // Set the value to compare against
    var valueToCompare = "{{exercise_dict.category}}";

    // Loop through the options and set the selected attribute if the value matches
    for (var i = 0; i < selectElement.options.length; i++) {
        var option = selectElement.options[i];

        if (option.value === valueToCompare) {
            option.selected = true;
            break;  // Exit the loop if a match is found
        }
    }
</script>

{% endblock %}
