{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="static/style.css">
<link rel="stylesheet" href="static/programs.css">
{% endblock %}

{% block content %}
<h1 style="text-align: center; margin-bottom: 0; margin-top: 3%;">Exercitii</h1>
<a href="{{ url_for('add_exercise') }}"><button class="add-button">+ Adauga </button></a>
<div class="program-list">
  {% for exercise in exercises %}
  <div class="program">
    <img src="../static/images/img.jpg">
    {% if exercise.show_prog_content %}
    <div class="prog-content">
    {% else %}
    <div>
    {% endif %}

      <div class="program-info">
        <h2 style="text-align: left;">{{ exercise.name }}</h2>
        <p>{{ exercise.description }}</p>
        <p>Categorie: {{ exercise.category_name }}</p>
        <p>Terapeut: {{ exercise.therapist_name }}</p>
      </div>

      <div class="btn-group">
        <button>Editeaza</button>
        <button>Sterge</button>
        <button class="view">View</button>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
