{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="static/style.css">
<link rel="stylesheet" href="static/programs.css">
{% endblock %}

{% block content %}
<h2>Programe</h2>
{% if logged_in and user_type == 0 %}
  <a href="{{ url_for('add_programs') }}" style="text-decoration: none; color: white;"><button class="add-button">+Adauga</button></a>
{% endif %}
<div class="program-list">
  {% for program in programs %}
  <div class="program">
    <img src="static/uploads/{{ program.category_name }}/{{ program.photo_id }}.png" >
    {% if program.show_prog_content %}
    <div class="prog-content">
    {% else %}
    <div style="width: 100%;">
    {% endif %}

      <div class="program-info">
        <h3>{{ program.name }}</h3>
        <p>{{ program.description }}</p>
        <p>Categoria: {{ program.category_name }}</p>
        <p>Terapeut: {{ program.therapist_name }}</p>
      </div>

      <div class="btn-group" style="float: right;">
        {% if logged_in and user_type == 0 %}
          <a href="{{ url_for('edit_program', program_id=program.id) }}"><button>Editează</button>
          <a href="{{ url_for('delete_program', program_id=program.id) }}"><button>Șterge</button>
        {% endif %}
        <a href="{{ url_for('view_program' , program_id=program.id) }}"><button class="view">Vizualizează</button></a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
