{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="static/style.css">
<link rel="stylesheet" href="static/programs.css">
{% endblock %}

{% block content %}
<h2>Programe</h2>
<a href="{{ url_for('add_programs') }}" style="text-decoration: none; color: white;"><button class="add-button">+ Adauga</button></a>
<div class="program-list">
  {% for program in programs %}
  <div class="program">
    <img src="../static/images/img.jpg" alt="{{ program.title }}">
    {% if program.show_prog_content %}
    <div class="prog-content">
    {% else %}
    <div>
    {% endif %}

      <div class="program-info">
        <h3>{{ program.name }}</h3>
        <p>{{ program.description }}</p>
        <p>Categoria: {{ program.category_name }}</p>
        <p>Terapeut: {{ program.therapist_name }}</p>
      </div>

      <div class="btn-group">
        <button>Editeaza</button>
        <button>Sterge</button>
        <a href="{{ url_for('view_program') }}"><button class="view">Vizualizeaza</button></a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
