{% extends "base.html" %}

{% block style %}
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="../static/add_exercise.css">
  <link rel="stylesheet" href="../static/programs.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../static/add_ex.js"></script>

    <style>
        .info {
            margin-left: 25px;
            font-size: 1em;
            width: 100%
        }

        form {
            padding: 30px;
            border-radius: 10px;
            background-color: #e9eaf9a6;
        }

        .form-container {
            max-width: 75%;
        }

        img {
            width: 260px;
        }

        .patient {
            display: flex;
        }

        .returnable input[type=checkbox]:checked ~ .check {
            border: 5px solid #f63366;
        }

        .returnable input[type=checkbox]:checked ~ .check::before {
            background: #f63366;
        }

        .submit-button {
            width: 100%;
        }

        label {
            margin: 20px 0 0 0px;
        }

        .form-group input[type="text"], .form-group textarea {
            margin: 0;
            font-family: Arial;
            height: 130px;
        }

    </style>
{% endblock %}

{% block content %}

<h2 class="title">Pacientul meu</h2>
<div class="form-container">
  <form method="POST">
      <div class="patient">
          <div class="img">
              <img src="../static/images/vlad.jpg">
          </div>    
          <div class="info">
              <p><b>Nume:</b> {{patient.name}}</p>
              <p><b>Email:</b> {{patient.email}}</p>
              <div class="form-group">
                  <label for="diagnostic"><b>Diagnostic</b></label>
                  <textarea name="diagnosis" id="diagnostic" required> {{patient.diagnosis}} </textarea>
                </div>
          </div>
      </div>

    <div class="form-group">
      <label>Asociaza programe:</label>
      <div class="exercise-list">
        {% for program in programs %}
          <label>
            <div class="program" style="width: 90%;">
              <div class="returnable">
                <input type="checkbox" name="program_checkbox_{{ loop.index }}" value="{{ program.id }}">
                <div class="check"></div>
                <div class="order"></div>
              </div>

              <img src="../static/images/img.jpg" style="margin-left: 10%; height: 200px;">
              <div class="prog-content">
                <div class="program-info">
                  <h2>{{program.name}}</h2>
                  <p>Categorie: {{program.category}}</p>
                  <p>Terapeut:{{program.therapist}}</p>
                </div>
              </div>
            </div>

        </label>
      {% endfor %}
      </div>
    </div>
    <button type="submit" class="submit-button">Finalizare</button>
  </form>
</div>

<script>
  // Activate checkboxes based on exercise IDs
  var exerciseIDs = {{ program_ids|tojson }};

  for (var i = 1; i <= {{ total_nr_of_programs }}; i++) {
    var checkbox = document.getElementsByName('program_checkbox_' + i)[0];

    if (exerciseIDs.includes(checkbox.value)) {
      checkbox.checked = true;
    }
  }
</script>
{% endblock %}