{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="static/style.css">
<link rel="stylesheet" href="static/profile.css">
<link rel="stylesheet" href="static/programs.css">
{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="left">
        <img src="../static/images/{{photo}}" alt="user" width="100">
        <h2>Program Name</h2>
         <p>Category</p>
    </div>
    <div class="right">
        <div class="info">
            <h2>Informații generale/Descriere</h2>
            <div class="info_data">
                 <p>Descriere </p>
            </div>
        </div>

      <div class="projects">
            <h2>Lista Exrcitii</h2>
<!--            <div class="projects_data">-->
<!--                 <div class="data">-->
<!--                    <h3>Recent</h3>-->
<!--                    <p>Lorem ipsum dolor sit amet.</p>-->
<!--                 </div>-->
<!--                 <div class="data">-->
<!--                   <h3>Most Viewed</h3>-->
<!--                    <p>dolor sit amet.</p>-->
<!--                 </div>-->
<!--            </div>-->


        <div class="program-list">
          <div class="program" style="width: 100%;">
            <img src="../static/images/img.jpg" alt="Program 1" style="height: 190px;
">
            <div class="prog-content">

              <div class="program-info">
                <h3>Exrcitiu 1</h3>
                <p>Categorie: Category 1</p>
                <p>Fizioterapist: pers </p>
              </div>

              <div class="btn-group">
                <button class="view">Start</button>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
</div>
{% endblock %}