html, body {
  margin: 10%;
  padding: 0;
  font-family: Helvetica;
}

.fill-purple {
  background-image: linear-gradient(90deg, #4addff, #a34dfe);
}

.fill-green {
  background-image: linear-gradient(90deg, #ffe40c, #33d497);
}

.fill-blue {
  background-image: linear-gradient(90deg, #285ca5, #18d5ff);
}

.fill-orange {
  background-image: linear-gradient(90deg, #fcf595, #ff954d);
}

.cards {
  display: flex;
  flex-direction: row;
  height: 21.875rem;
  width: 100%;
}

.card {
  padding: 40px;
  width: 35rem;
  height: 47rem;
  border-radius: 0.5rem;
  transform-origin: center center;
  transform: scale(1) translate(0px, 0px) perspective(750px) rotateY(0deg);
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-duration: 0.5s;
  position: absolute;
  top: 0;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.1);
  z-index: 3;
  cursor: pointer;
  overflow: hidden;
}

.card input,
.card textarea {
  pointer-events: auto;
}

.card--left {
  transform: scale(0.75) translate(-335px, 0px) perspective(750px) rotateY(10deg);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.card--center {
  transform: scale(1) translate(0px, 0px) perspective(750px) rotateY(0deg);
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.1);
  z-index: 3;
}

.card--right {
  transform: scale(0.75) translate(335px, 0px) perspective(750px) rotateY(-10deg);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  z-index: 1;
  height: 830px;
}

form {
    display: contents;
}

.fill-gray {
  background-image: linear-gradient(90deg, #888888, #aaaaaa);
}

.card--leftmost {
  transform: scale(0.75) translate(-650px, 0px) perspective(750px) rotateY(20deg);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  z-index: 0;
}

.card--rightmost {
  transform: scale(0.75) translate(650px, 0px) perspective(750px) rotateY(-20deg);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  z-index: 0;
}

