<!DOCTYPE html>
<html>
<head>
    <title>MedicalWebsite</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap" rel="stylesheet">
    {% block style %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <div class="logo"><a href="{{ url_for('main') }}">ReFit.</a></div>

            <ul>
                <li><a href="{{ url_for('exercise') }}">Exerciții</a></li>
                <li><a href="{{ url_for('programs') }}">Programe</a></li>
                {% if logged_in and user_type != 1 and user_type == 0 %}
                    <li><a href="/patients">Pacienți</a></li>
                {% endif %}

                <li><a href="{{ url_for('about') }}">Despre noi</a></li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Cont</a>
                    <div class="dropdown-content">
                        {% if logged_in %}
                            <a href="#">Salut, {{ user_name }}</a>
                            <a href="{{ url_for('profile') }}">Cont</a>
                            <a href="{{ url_for('logout') }}">Delogează-te</a>
                        {% else %}
                            <a href="{{ url_for('login') }}">Loghează-te</a>
                            <a href="{{ url_for('signup') }}">Crează cont</a>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </nav>
    </header>


    {% block content %}{% endblock %}

    <footer>
        <p>&copy; 2023 ReFit. Licență UPT.</p>
    </footer>
</body>
</html>
