{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="static/style.css">
<link rel="stylesheet" href="static/programs.css">
{% endblock %}

{% block content %}
<h1 style="text-align: center; margin-bottom: 0; margin-top: 3%;">Exercitii</h1>
{% if logged_in and user_type == 0 %}
<a href="{{ url_for('add_exercise') }}"><button class="add-button">+Adauga </button></a>
{% endif %}

<div class="program-list">
  {% for exercise in exercises %}
  <div class="program">
    <img src="static/uploads/{{ exercise.category_name }}/{{ exercise.photo_id }}.png">
    <div class="prog-content">
      <div class="program-info">
        <h2 style="text-align: left;">{{ exercise.name }}</h2>
        <p>{{ exercise.description }}</p>
        <p>Categorie: {{ exercise.romanian_cat }}</p>
        <p>Terapeut: {{ exercise.therapist_name }}</p>
      </div>

      <div class="btn-group">
        {% if logged_in and user_type == 0 %}
          <a href="{{ url_for('edit_exercise', exercise_id=exercise.id) }}"><button class="view">Editează</button></a>
          <a href="{{ url_for('delete_exercise', exercise_id=exercise.id) }}"><button>Șterge</button></a>
        {% endif %}
        <a href="{{ url_for('view_ex', exercise_id=exercise.id) }}"><button class="view">Start</button></a>
      </div>
    </div>
  </div>
  {% endfor %}
  </div>

</div>
{% endblock %}
