{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/webstream.css">
    <link rel="stylesheet" href="static/programs.css">

{% endblock %}

{% block content %}
    <h1>{{exercise_dict.name}} </h1>
     <p class="info"><b>Descriere:</b> {{exercise_dict.description}}</p>
     <p class="info"><b>Categorie:</b> {{romanian_category}}</p>

    <section class="services">
        <div class="service-item">
            <img src="static/uploads/{{exercise_dict.category}}/{{steps_list[0].photo_id}}.png" alt="Step 1">
            <h3>Step 1</h3>
            <p>Descriere: {{steps_list[0].description}}</p>
            <p>Erroarea admisa: {{steps_list[0].permissive_error}} grade</p>
        </div>
        <div class="service-item">
            <img src="static/uploads/{{exercise_dict.category}}/{{steps_list[1].photo_id}}.png" alt="Step 2">
            <h3>step 2</h3>
            <p>Descriere: {{steps_list[1].description}}</p>
            <p>Erroarea admisa: {{steps_list[1].permissive_error}} grade</p>
        </div>
        <div class="service-item">
            <img src="static/uploads/{{exercise_dict.category}}/{{steps_list[2].photo_id}}.png" alt="Step 3">
            <h3>Step 3</h3>
            <p>Descriere: {{steps_list[2].description}}</p>
            <p>Erroarea admisa: {{steps_list[2].permissive_error}} grade</p>
        </div>
    </section>

    <p class="counter" id="count"><b>Counter:</b> {{ count }}</p>
    <p class="done">Well done</p>

    <div class="btn-group">
        <body>
            <button class="view" onclick="goBack()">Go Back</button>

            <script>
                function goBack() {
                    window.history.back();
                }
            </script>
        </body>
    </div>
    <section class="webstream">
        <div class="web">
            <img class="stream" src="{{ url_for('video_feed') }}">
        </div>

        <div class="next-step">
            <img class="step" id="image-step" src="" alt="Current Step">
        </div>
    </section>
<script>
    function updateCount() {
        // Create a new XMLHttpRequest object
        var xhr = new XMLHttpRequest();

        // Configure the request
        xhr.open('GET', '/get_count', true);

        // Set the callback function to handle the response
        xhr.onload = function() {
            if (xhr.status === 200) {
                // Parse the JSON response
                var response = JSON.parse(xhr.responseText);

                // Update the count in the HTML element
                document.getElementById('count').textContent = 'Counter: ' + response.count;
                  // Update the image source based on the response count
                var imageStep = document.getElementById('image-step');
                if (response.current_step === 1) {
                    imageStep.src = 'static/uploads/{{exercise_dict.category}}/{{steps_list[0].photo_id}}.png';
                } else if (response.current_step === 2) {
                    imageStep.src = 'static/uploads/{{exercise_dict.category}}/{{steps_list[1].photo_id}}.png';
                } else if (response.current_step === 3) {
                    imageStep.src = 'static/uploads/{{exercise_dict.category}}/{{steps_list[2].photo_id}}.png';
                }

             // Show the 'Well done' message when response.count equals exercise_dict.max_count
                var maxCount = {{exercise_dict.max_reps}};
                if (response.count >= maxCount) {
                    var doneMessage = document.querySelector('.done');
                    doneMessage.style.display = 'block';
                } else {
                    var doneMessage = document.querySelector('.done');
                    doneMessage.style.display = 'none';
                }
            }
        };

        // Send the request
        xhr.send();
    }

    // Call the updateCount function initially and set it to execute every 3 seconds
    updateCount();
    setInterval(updateCount, 500);  // Update every 3 seconds
</script>


{% endblock %}